.contactIcon {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 100 !important;
  margin-bottom: 12px;
}

.item:hover .contactIcon {
  background-color: var(--main-color);
}

.contactIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.contactIcon i {
  font-size: 30px;
  color: var(--main-color);
    transition: all 0.3s ease;

}
.item:hover .contactIcon i {
  color: white;
}
