.icon {
    transition: 0.2s all ease;
}
.service:hover .icon {
    color: var(--main-color);
}

.service {
    transition: 0.2s all ease;

}
.service:hover{
    background-color: rgb(247, 247, 247);
}