:root {
  --main-color: rgb(236, 181, 0);
  --secondary-color: #d6a913;
  --dark-color: #3b3b3b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans Arabic", sans-serif !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: #1100c7;
}
::selection {
  color: rgb(255, 255, 255);
  background: var(--main-color);
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--dark-color);
}
.fw-600 {
  font-weight: 600;
}
p {
  color: var(--dark-color);
  font-size: 17px;
}
a {
  color: var(--dark-color) !important;
  font-weight: 600;
  text-decoration: none;
}
.text-sm {
  font-size: 14px;
}

.navbar {
  --mdb-navbar-box-shadow: 0 0 0 0 !important;
}
.pointer {
  cursor: pointer;
}
.py-100 {
  padding: 100px 0;
}
.z-index {
  z-index: 10000;
}
.title {
  font-weight: 900 !important;
  letter-spacing: 1px;
  font-size: 35px;
}
.slick-dots {
  top: 93%;
  height: 0;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--secondary-color);
}
.slick-dots li button:before {
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #696969;
}
.icon {
  margin-left: 5px;
  font-size: 18px;
}
.text-gradient {
  background: linear-gradient(
    150deg,
    var(--main-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent !important;
}
.bg-gradient {
  background: radial-gradient(
    100% 100% at 100% 0,
    var(--secondary-color) 0,
    var(--main-color) 100%
  ) !important;
}

.button:active {
  box-shadow: var(--main-color) 0 3px 7px inset;
  transform: translateY(1px);
}

/* slick */
.slick-prev:before,
.slick-next:before {
  color: #134aba !important;
}

.scriptFont {
  font-family: "Segoe Script", "Savoye LET";
}
.slick-prev,
.slick-next {
  width: 35px !important;
  height: 100% !important;
  background: #99999929 !important;
}

.slick-prev {
  left: 12px !important;
  z-index: 1;
}
.slick-next {
  right: 12px !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: #333333b4 !important;
}

.hvrShadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.hvrShadow:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

/* bg */
.dark_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

/* Button */

.btn-outline-warning:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: all 0.5s ease !important;
}

.link:hover::after {
  width: 100%;
}

.stick::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--main-color);
}

.img_border::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 15%;
  top: -10px;
  left: 1px;
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: var(--main-color);
  transition: 1.5s all ease !important;
}

.img_border::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 15%;
  bottom: -10px;
  right: 1px;
  border-width: 0 3px 3px 0px;
  border-style: solid;
  border-color: var(--main-color);
  transition: 1.5s all ease !important;
}

.img_border:hover::before,
.img_border:hover::after {
  width: 100%;
  height: 100%;
}

/* services Tabs  */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: var(--main-color) !important;
}

.btn {
  min-width: 150px;
}

.hover {
  transition: all 0.2s ease;
}
.hover:hover {
  color: var(--main-color) !important;
}

.phone {
  direction: ltr;
}
.form-control:focus {
    border-color: var(--main-color) !important;
    box-shadow: inset 0 0 0 1px var(--main-color) !important;
}

.magnify {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}









/* Projects */
.snip1295 {
  position: relative;
  overflow: hidden;
  margin: 7px;
  padding: 6px;

  width: 100%;
  height: 100%;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.snip1295 img {
  max-width: 100%;
  vertical-align: top;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1295 .border {
  position: absolute;
  opacity: 0.45;
}
.snip1295 .border:before,
.snip1295 .border:after,
.snip1295 .border div:before,
.snip1295 .border div:after {
  background-color: #f5b043;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.snip1295 .border:before,
.snip1295 .border:after {
  width: 0;
  height: 1px;
}
.snip1295 .border div:before,
.snip1295 .border div:after {
  width: 1px;
  height: 0;
}
.snip1295 .border.one {
  left: 0;
  top: 0;
  right: 12px;
  bottom: 12px;
}
.snip1295 .border.one:before,
.snip1295 .border.one div:before {
  left: 0;
  top: 0;
}
.snip1295 .border.one:after,
.snip1295 .border.one div:after {
  bottom: 0;
  right: 0;
}
.snip1295 .border.two {
  left: 12px;
  top: 12px;
  right: 0;
  bottom: 0;
}
.snip1295 .border.two:before,
.snip1295 .border.two div:before {
  right: 0;
  top: 0;
}
.snip1295 .border.two:after,
.snip1295 .border.two div:after {
  bottom: 0;
  left: 0;
}
.snip1295 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.snip1295:hover .border:before,
.snip1295.hover .border:before,
.snip1295:hover .border:after,
.snip1295.hover .border:after {
  width: 100%;
}
.snip1295:hover .border div:before,
.snip1295.hover .border div:before,
.snip1295:hover .border div:after,
.snip1295.hover .border div:after {
  height: 100%;
}
